body {
    padding: 20px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.table {
    margin-top: 20px;
}

.table th {
    background-color: #f8f9fa;
    font-weight: bold;
}

.table td, .table th {
    padding: 10px;
}

.text-danger {
    color: #dc3545;
    padding: 15px;
    text-align: center;
}

.table-responsive {
    overflow-x: auto;
    white-space: nowrap;
}

.table th, .table td {
    white-space: nowrap; /* evita que el texto se divida en varias líneas */
    padding: 8px;
}

